body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: lighter;
}

.main-img {
  box-shadow: 0px 2px 5px lightgray;
  height: 550px;
}
.right-side {
  width: 550px;
  margin-left: 20px;
}
.navigation {
  font-size: small;
}
#ratings-pic {
  height: 20px;
}
