body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 50px;
}
.main-body {
  border: 5px solid #121212;
  width: 550px;
}
#email-btn {
  border: 3px solid #121212;
  padding: 5px 30px;
  font-weight: bolder;
  width: 220px;
  background-color: white;
}
#join-btn {
  border: 3px solid #121212;
  padding: 5px 30px;
  color: white;
  font-weight: bolder;
  background-color: #121212;
  margin-top: 10px;
  width: 220px;
}
p {
  width: 400px;
  margin: auto auto;
  margin-top: 10px;
  margin-bottom: 30px;
  font-style: italic;
}
img {
  width: 400px;
}
span {
  font-style: italic;
  border-bottom: 2px solid #121212;
}
