body {
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-body {
  background-color: #0c4a6e;
  border: 5px solid limegreen;
  padding: 100px 100px;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* margin: 0; */
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.scores {
  font-family: "Cursed Timer ULiL", sans-serif;
  border: 1px solid black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e11d48;
  width: 150px;
  height: 100px;
  font-size: 3em;
}
.buttons {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: #0c4a6e;
  color: white;
  font-family: "Cursed Timer ULiL", sans-serif;
  padding: 5px;
  margin: 0 5px;
}
.guest-section {
  margin-left: 50px;
}

.winning {
  border: 0px solid #e11d48;
  padding: 0 20px;
  background-color: #e11d48;
  color: lime;
}

.btn {
  width: 100px;
  margin: 30px 0;
  color: white;
  background-color: #e11d48;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
}

#score-board {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 5px;
  color: limegreen;
  text-shadow: 2px 1px black;
}
