/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 5px solid white;
  border-radius: 20px;
  max-height: 200vh;
  width: 100vh;
  display: grid;
  justify-self: center;
  align-items: center;
  background-color: aquamarine;
}

img {
  width: 100px;
}

.hero-section {
  background-image: url("images/visit_rwanda.webp");
  background-size: cover;
  height: 400px;
  color: white;
  text-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visit-rwanda {
  border: 1px solid #457b9d;
  background-color: #457b9d;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 10px;
}
#description {
  border: 1px solid #1d3557;
  background-color: #1d3557;
  font-size: 15px;
  padding: 10px 10px;
  width: 300px;
}
.headers {
  font-weight: bolder;
}

.to-do {
  display: flex;
  justify-content: space-evenly;
  /* gap: 20px; */
}
.image-activities {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.describe {
  max-width: 200px;
}
.activities {
  background-color: antiquewhite;
  padding-bottom: 10px;
}
.guide {
  display: flex;
  justify-content: center;
  background-color: wheat;
  border: 10px solid aquamarine;
  width: 300px;
  margin: 0px auto;
  /* padding: 0 50px; */
}
.the-guide {
  margin: 0 20px;
}
#person {
  width: 150px;
}
