body {
  margin: 0;
  background-color: #1c1c1c;
  color: white;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  background-color: #1f2937;
  padding: 50px 10px;
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;
}
button {
  background-color: #10b981;
  border: 0px solid #10b981;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
}
span {
  color: #4adf86;
}
.password-place {
  border: 0px solid #273549;
  background-color: #273549;
  overflow: inherit;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 18ch;
}
.password-field {
  display: flex;
  flex-direction: row;
  border-top: 3px solid #273549;
  margin-top: 30px;
  color: #273549;
}
#intro {
  font-weight: lighter;
  margin-bottom: 50px;
}
